
body {
  margin: 0;
  padding: 0;

}

.container {
  display: flex;
  flex-direction: row;
}

.left-container {
  width: 300px;
  background:rgb(0, 0, 0, 0.7);
  min-height: 100vh;
  flex-direction: column;

  .list-btn {
    width: 100%;
    background: #fff;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    border-bottom: 2px solid #ccc;
    border-left: 3px solid green;
  }

  .add-list-btn {
    text-align: center;
    padding: 10px;
    color: #fff;
    background: rgba(255,255,255, 0.1);
    margin: 20px 20px 10px 20px;
    border: 4px dotted #fff;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
  }
}

.btn {
  padding: 10px;
  border: 1px solid #666;
  font-size: 18px;
  cursor: pointer;
}

.right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px auto;
  padding: 40px;
  border-radius: 20px;
  border: 1px solid #535353;
  background-color: rgba(0,0,0,0.7);
  width: 60%;



  .icon {
    color: #666;
    cursor: pointer;
    position: absolute;
  }

  .input {
    flex-direction: row;
    width: 100%;
    input[type="search"],
    button {
        float: left;
    }
    input {
      font-size: 24px;
      padding: 6px;
      width: 90%;
    }
    button {
      width: 10%;
      height: 100%;
      height: 43px;
      cursor: pointer;
      background-color: #508dff;
      border:none;
      color: #fff;
      font-size: 24px;
    }
  }

  .list {
    flex-direction: column;
    width: 100%;
    
    &__item:hover {
      .icon-trash {
        display: block;
      }
    }

    &__item:first-child {
      margin-top: 30px;
    }

    &__item {
      padding: 10px;
      background: #efefef;
      border: 1px solid #dedede;

      .icon-close {
        float: right;
        position: relative !important;
        font-size: 18px;
        margin: -18px;
        color: #333;
        border-radius: 32px;
      }

      
      .text-input {
        width: 100%;
        padding-left: 20px;
        box-sizing: border-box;
        border: none;
        background-color: transparent;
        resize: none;
        outline: none;
      }

      .button-area {
        width: 50px;
        float: right;
        position: relative;
        margin-top: -20px;
      }

      .icon {
        color: #666;
        cursor: pointer;
        position: absolute;
      }

      .icon-trash, .icon-restore, .icon-info {
        float: right;
        color: #666;
        display: none;
        cursor: pointer;
        margin-left: 5px;
      }
      
      &:hover {
        .icon-info {
          display: block;
        }
      }

      &.done {
        background: #cdcdcd;
        .text {
          text-decoration: line-through;
        }
      }

      &.removed {
        background: #ff3f3f;
        .icon-trash {
          display: none;
        }
        .text {
          text-decoration: line-through;
        }
      }

      &.removed:hover {
        .icon-restore {
          display: block;
        }
      }
      
    }
  }
}